<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnhK3BdalgjOmLNZ7RHtVsVRfloFlDUUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>170810569354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.splat.frequency</string>
	<key>PROJECT_ID</key>
	<string>my-tune-1ac48</string>
	<key>STORAGE_BUCKET</key>
	<string>my-tune-1ac48.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170810569354:ios:866ed0c4fe9305c9bd7373</string>
	<key>DATABASE_URL</key>
	<string>https://my-tune-1ac48-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>